name: Test on push and publish

# On pull_request, we:
# * always publish to charmhub at latest/edge/branchname
# * always run tests

on:
  pull_request:

jobs:

  tests:
    name: Run Tests
    uses: ./.github/workflows/tests.yaml

  # publish runs in parallel with tests, as we always publish in this situation
  publish-charm:
    name: Publish Charm
    uses: ./.github/workflows/publish.yaml
    with:
      credentials: "${{ secrets.TEST_SECRET }}"
      github-token: "${{ secrets.GITHUB_TOKEN }}"
